.progressbarItem {
    display: inline-block;
    padding: .5em;
}
.progressbarContainerBorderColor {
    border: 1px grey solid;
}
.progressbarContainerBorderColorLeft {
    border-left: 1px grey solid;
}
.progressbarContainerBorderColorRight {
    border-right: 1px grey solid;
}